.card-checkout{
    box-sizing: border-box;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
    border-radius: 5px;
}
.action-buttons{
    width: 100%;
    text-align: center;
}
.titre{
    text-align: center;
}
